.container {
  max-width: calc(900px + 5em);
  margin: 0 1em;
  text-align: center;
  color: #2c2c2c;
}

@media (min-width: 1000px) {
  .container {
    margin: 0 auto;
  }
}

.container--flex {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.header {
  background-color: #2c2c2c;
  padding: 1.5em 0 1.75em;
}

.header__title {
  color: #ffffff;
  margin-bottom: 0.5em;
}

.header__search {
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.5em 0.8em;
  outline: none;
  border: none;
  width: 100%;
  max-width: 20rem;
  box-shadow: 4px 4px 0px 0px rgba(177, 177, 177, 0.3);
}

.header__search:focus,
.header__search:hover {
  box-shadow: 4px 4px 0px 0px #39ff14;
  transition: box-shadow .2s ease-in;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

.btn {
  border: none;
  outline: none;
  height: 2.625rem;
  font-weight: 700;
  padding: 0.5em 1em;
  font-size: 1.125rem;
  color: #ffffff;
  background-color: #212121;
  box-shadow: 4px 4px 0px 0px rgba(177, 177, 177, 0.3);
  transition: box-shadow .2s ease-in;
}

.btn--prev {
  margin-right: 1em;
}

.btn--reverse {
  background-color: #0c4e00;
  margin-left: 1em;
  padding: 0.3em 1em;
}

.btn:hover,
.btn:focus {
  box-shadow: 4px 4px 0px 0px #39ff14;
  transition: box-shadow .2s ease-in;
}

.container--cards {
  gap: 1em;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid #158d00;
  width: 14rem;
  overflow: hidden;
  transition: all .2s ease-in;
}

.card:hover {
  transform: scale(1.04);
  border: 2px solid #39ff14;
  transition: all .2s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.card__image {
}

.card__body {
  margin: auto;
  padding: 1em 0.5em;
}

.icon {
  max-width: 1em;
}